@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@layer base {
  html, body {
    @apply antialiased font-sans;
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .bg-gradient-bluvera {
    background-image: linear-gradient(to right, #00C6FF, #0072FF);
  }
}

/* Ẩn scrollbar trên mọi trình duyệt */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE và Edge */
  scrollbar-width: none; /* Firefox */
}

@layer utilities {
  /* Breakpoint nhỏ hơn 1440px */
  @media (max-width: 1440px) {
      
  }

  /* Breakpoint nhỏ hơn 1024px */
  @media (max-width: 1024px) {
      .lg-max\:hidden { display: none ; }
  }

  /* Breakpoint nhỏ hơn 768px */
  @media (max-width: 768px) {
   
  }

  /* Breakpoint nhỏ hơn 576px */
  @media (max-width: 576px) {
    
  }
}
